<?xml version="1.0" encoding="utf-8"?>

<packages>
	<package id="Google.Apis" version="1.57.0" targetFramework="net48" />
	<package id="Google.Apis.Auth" version="1.57.0" targetFramework="net48" />
	<package id="Google.Apis.Core" version="1.57.0" targetFramework="net48" />
	<package id="Google.Apis.YouTube.v3" version="1.57.0.2735" targetFramework="net48" />
	<package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
	<package id="taglib-sharp-netstandard2.0" version="2.1.0" targetFramework="net48" />
	<package id="YouTubeApiSharp" version="0.0.5" targetFramework="net48" />
</packages>